.c-region-block {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 1px;
    background: white;
    color: white;
    text-align: center;
    &:hover,
    &:focus {
        color: white;
    }
    @include screen-sm-up {
        height: 300px;
    }
}


    .c-region-block__inner {
        @include screen-sm-up {
            position: absolute;
            top: 0;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 583px;
        }
    }

    .c-region-block__overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba(black, 0.3);
        transition: background $brand-transition;
        &:hover,
        &:focus {
            background: rgba($brand-color, 0.3);
        }
    }

    .c-region-block__title {
        display: inline-block;
        padding: $half-spacing-unit $spacing-unit;
        background: rgba(black, 0.5);
        font-weight: bold;
        text-transform: uppercase;
        transition: background $brand-transition;
        .c-region-block:hover &,
        .c-region-block:focus & {
            background: rgba($brand-color, 0.5);
        }
    }
