.c-subpage-banner {
	position: relative;
	height: 450px;
	color: white;
	text-align: center;
	@media (min-width: 1175px) {
		padding-bottom: 13%;
	}

}

	.c-subpage-banner__img,
	.c-subpage-banner__overlay {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.c-subpage-banner__img {
		/* Create the parallax scrolling effect */
		background-attachment: fixed;
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
	}

	.c-subpage-banner__overlay {
		//background: rgba(black, 0.1);
	}

