.drop-down {
	overflow: hidden; /* When ul height is reduced, ensure overflowing li are not shown */
	clear: both;
	height: auto; /* 172px = (38 (li) + 5 (li border)) * 4 (number of li) */
	/*height: auto;*/
	background-color: #fff;
	margin: 0 auto;
	padding: 0;
}
.drop-down-content{
	height: 0px;
	-webkit-transition: height 0.3s ease;
	transition: height 0.3s ease;
}

.open {
	/*  When toggled via jQuery this class will reduce the height of the ul which inconjuction
        with overflow: hidden set on the ul will hide all list items apart from the first */
	/* current li height 38px + 5px border */
	height: auto;

}

.drop-down li {
	border-bottom: 5px solid #fff;
}

.drop-down li a {
	display: block;
	text-decoration: none;
	padding: 10px; /* Larger touch target area */
}
.drop-down li p {
	display: block;
	color: #000;
	text-decoration: none;
	padding: 10px; /* Larger touch target area */
}